@charset "UTF-8";
body section {
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    color: rgb(129, 158, 213);
}

h2 {
    text-align: center;
}

body #posts h2 {
    text-align: center;
    color: rgb(241, 10, 21);
}

body #posts .post div img {
    width: 30%;
    margin-left: 35%;
}

body #posts .post p {
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

body #posts .post .titre {
    color: blue;
}

body #posts .post .slug {
    font-style: italic;
}

body .formProfil {
    padding: 5px;
    background-color: #AED581;
}

body .formProfil button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #AED581;
    width: 40%;
    margin-top: 2%;
    margin-left: 60%;
    margin-bottom: 2%;
}

body .formProfil .form-group label {
    display: block;
}

body .formProfil .form-group input {
    width: 98%;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

footer nav {
    justify-content: center;
    width: 100px;
    margin: 0 auto;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer nav ul li {
    list-style: none;
}

@media (min-width: 768px) {
    /* PAGE HOME */
    section h1 {
        font-size: 3vw;
    }
    section article {
        flex-direction: row !important;
        width: 80% !important;
        margin-left: 10%;
    }
    section article div {
        width: 40%;
    }
    section article div img {
        width: 100%;
        margin: 0;
    }
    section article p {
        margin-left: 10% !important;
        width: 50% !important;
    }
    /* PAGE posts */
    #posts {
        display: flex;
        flex-wrap: wrap;
    }
    #posts .post {
        width: 33% !important;
        margin-left: 0;
    }
    #posts .post div {
        margin-left: 15% !important;
    }
    #posts .post div img {
        margin-left: 70% !important;
    }
    #posts .post p {
        width: 80% !important;
    }
}


/* PROFIL */

.formProfil {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.formProfil .form-group {
    display: flex;
    justify-content: space-between;
}

.formProfil .form-group label {
    width: 40%;
    display: inline-block;
}

.formProfil .form-group input {
    width: 55%;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

.formProfil table {
    width: 100%;
}